gitignoreCopy# Binaries
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# ASP.NET Core
wwwroot/lib/

# Logs
*.log

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/

# Publish output
publish/
*.publishsettings
*.azurePubxml
